.header .side-photo {
  flex: .5;
  background-size: cover;
  background-image: radial-gradient(ellipse closest-side, rgba(26,26,26,0), rgba(26,26,26,0.2)),url(./images/side.jpeg);
}

@media only screen and (max-width: 600px) {
  .header {
    display: block;
    background: #1A1A1A;
  }

  .header .side-photo {
    display: block;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-image: radial-gradient(ellipse closest-side, rgba(26,26,26,0), rgba(26,26,26,0.2)),url(./images/side-crop.jpeg);
    flex: none;
  }
}
